<!DOCTYPE>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diccionario de datos proyecto XicotliData</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <header class="container pt-3">
      <div class="row my-4">
        {% if output_dir %}
        <div class="col-3 d-none d-lg-block d-xl-block">
          <img src="static/xicotli_logo.png" alt="XicotliData logo"/> 
        </div>
        <div class="col-1 d-block d-lg-none d-xl-none">
          <img src="static/xicotli_small.png" alt="XicotliData logo"/> 
        </div>
        {% endif %}
        <h1 class="col-md-9 ">
          Diccionario de datos proyecto XicotliData
        </h1>
      </div>
    </header>
    <main>
      <div id="terms">
        {% block terms %}
        {% endblock %}
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>    
